.App {
  margin: 10px;
  
  
}

.AppHeader {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: large;
  
}

.App-link {
  color: #fbb361;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: rgb(238, 159, 159);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(22, 10, 10);
}

table { 
  border-collapse: collapse; 
 } 
 table, th, td { 
  border: 1px solid black; 
 } 
 th, td { 
  padding: 5px; 
  text-align: left; 
 } 
 tr:nth-child(even) { 
  background-color: #f2f2f2; 
 } 
 th { 
  background-color: #f2f2f2; 
 }


 .TextoAppVisual {
  position: absolute;
  top: 160px;
  left: 200px;
  }

  .FechaConsulta {
    position:absolute; 
    bottom:300px; 
    top: 300px;
    right:40px;
    }


  .PanelHistorial {
    position:absolute;
    bottom:310px; 
    left:400px;
    }


    .PanelHistorialP {
      position:absolute;
     
      }

    .FilaSecciónLab{
      display: flex;
      }



      .BPanel {
        color: white;
        width: 75pt;
        height: 45pt;
        margin-top: 2px;
        background: #000080;
        border: none; 
        text-align: center;
        opacity: 0.7;
        transition: 0.3s;
        }


        .TituloPanel {
          color: black;
          text-align:right;
          font-size: 35px;
          font-weight: bold;
          display: block;
          position:relative;
          
          right: 350px;
          }

          .TablaPanelLabs {
            display: block;
            background-color: #e8fae6;
            width: 380px;
            height: 280px;
            overflow-x: auto;
            overflow-y: auto; 
            position:relative;
            top : 10vh;
            right: 350px;
            box-sizing: border-box;
            border: none;
            border-radius: 2px;
            background-color: #dcdcdc;
            }
            .Panel {
              padding: 35px;
              display: visible;
              background-color: rgb(107, 38, 38);
              overflow: visible;
              }
      .logo {
        
        overflow: visible;
        float: right;
        bottom : top;
        
        position:absolute;
        right:60px;
        top: 10px;
        width: 100px;
        height: 80px;

        }

        .Titulo{
          
          font-family:serif;
        }

        .escuela{
          
         
       
          
          border: 6px solid rgb(201, 93, 93);
          height: 500px;
          width: 1000px;
          align:right; 
          position:absolute;
          right:190px;

        }


        .asignaturas{
          
         
       
          
          
          height: 1500px;
          width: 2000px;
          align:right; 
          position:absolute;
          right:-700px;
          top:150px;
      
          
          

        }

        .laboratorios{
          
         
       
          
          
          height: 900px;
          width: 1200px;
          align:right; 
          position:absolute;
          right:-90px;
          top:150px;
      
          
          

        }


        .AppReservaPuestos{
          
         
       
          
          
          height: 1500px;
          width: 1000px;
          align:right; 
          position:absolute;
          right:500px;
          top:150px;
          color: rgb(13, 8, 8);
      
          
          

        }


        .volver{
          
         
       
          
          
          height: 50px;
          width: 50px;
          align:left;
          left: -50px;
         
      
          
          

        }


        .tablaAsignaturas{
          
         
          text-align:left; 
      
          left: -10px;
          bottom: 300px;
          color: rgb(191, 53, 53);
          
          font-weight: bold;
          text-align: left;
          height: 300px;
          width: 500px;
          opacity: 0.8;
          

        }


        .tablaLaboratorios{
          
         
          text-align:left; 
      
          left: -10px;
          bottom: 300px;
          color: rgb(191, 53, 53);
          
          font-weight: bold;
          text-align: left;
          height: 400px;
          width: 700px;
          opacity: 0.8;
          

        }


        .clicar{
          
          height: 50px;
          width: 50px;
          text-align:center; 

        }


        
        .señalar{
          
         
       
          
          
          height: 100px;
          width: 100px;
          align:left; 
          position:absolute;
          left:250px;
          bottom: 150px;

        }


        .consulta{
          
         
          text-align:left; 
          font-size: small;
          position:absolute;
          left: 150px;
          bottom: 450px;
          color: rgb(0, 0, 0);
          font-size: 20px;
          font-weight: bold;
          text-align: left;
          height: 180px;
          width: 1066px;
          opacity: 0.8;
          

        }
        
        .calendar{
          align:left;
          position:absolute;

          left: 150px;
          bottom: 270px;
          font-size: 20px;
         
          

        }


       

       
          
                    
        
          
        

      

    
          
        .reservaLibre{

          width: 100px;
          height: 50px;


        } 


        .noReserva{

          width: 200px;
          height: 200px;


        } 



        .pure-button{
          color: rgb(38, 107, 76);

        }


        .Home{	
          width: 25px;
          height: 25px;
          }

          .Presentacion {
            
            color:  rgb(22, 10, 10);
   
            }


            .TituloHome {
            
              color: rgb(22, 10, 10);
              font-size: large;
            
  
                  
             
              
              }
          
                 
                 

                

             /* .Historial {
                padding: 35px;
                display: visible;
                background-color: rgb(107, 38, 38);
                overflow: visible;
                }*/
  

              

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
